{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block stylesheets %}<link href="/css/home/style.css" rel="stylesheet">{% endblock %}

{% block body %}
    {% if message is not null %}
        <p>{{ message }}</p>
    {% endif %}
    <div class=" home_container">
        <h1 class="home_title">Faites partie de<br>notre équipe</h1>
        <p class="home_paragraph">
            {{ content|raw }} <a class="home_more_info" href="{{ path("about") }}" alt="En savoir plus">En savoir plus</a>.
        </p>
        {# Responsive #}
        <h1 class="home_title_responsive">Espace candidat</h1>
        <p class="about_responsive">
            <a class="home_more_info" href="{{ path("about") }}" alt="En savoir plus">À propos de nous</a>
        </p>
    </div>
{% endblock %}
