{% extends 'base.html.twig' %}

{% block title %}Admin - Accueil{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <a href="{{ path("admin_candidatures") }}">Accéder aux candidatures</a>
    <a href="{{ path("admin_edit") }}">Editer le contenu du site</a>
{% endblock %}