{% extends 'base.html.twig' %}

{% block title %}Admin - Gérer les offres d'emploi{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="/js/class/WYSIWYG/WYSIWYG.js" defer></script>
    <script src="/js/admin/offres_update_script.js" defer></script>
{% endblock %}

{% block body %}
    {% form_theme updateForm "forms/global/global_form_template.html.twig" %}
    {{ form_start(updateForm, {"attr": {"class": "update_form"}}) }}
        {{ form_rest(updateForm) }}
        <div class="WYSIWYG WYSIWYG_accueil"></div>
        <input type="submit" value="Modifier l'offre" />
    {{ form_end(updateForm) }}
{% endblock %}