{% extends 'base.html.twig' %}

{% block title %}Admin - Demande de validation de {{ user.prenom }} {{ user.nom }} {% endblock %}

{% block body %}
    <h1>Demande de validation de {{ user.prenom }} {{ user.nom }}</h1>
{% endblock %}