{% block form_row %}
    <div class="form_row">
        <div class="error">
            {% for error in errors %}
                {{ error.message }}
            {% endfor %}
        </div>
        {{ form_label(form) }} {{ block('form_widget_simple') }}
    </div>
{% endblock %}