{% block form_row %}
    <div class="form_row">
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block form_errors %}
    <span class="error signup_error">                
        {% for error in errors %}
            {{ error.message }}
        {% endfor %}
    </span>
{% endblock %}