{% extends 'base.html.twig' %}

{% block title %}Déposer vos pièces{% endblock %}

{% block body %}
    {% if hasCandidature %}
        <h1>Vous avez déjà une candidature en cours merci de réessayer ultérieurement</h1>
    {% else %}
        {% form_theme uploadForm "forms/global/form_template.html.twig" %}
        {{ form_start(uploadForm) }}
            {# Affiche les erreurs si nécessaire #}
            {% for error in formErrors %}
                <div>
                    {{ error }}
                </div>
            {% endfor %}
            {{ form_rest(uploadForm) }}
            <input type="submit" value="Déposer" />
        {{ form_end(uploadForm) }}
    {% endif %}
{% endblock %}
