/* Upload Image */

.image_manager {
    display: none;
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background-color: #FBFBFB;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.image_manager .upload_image_container {
    display: none;
}

.image_manager .upload_image_container form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image_manager .upload_image_container form * {
    font-size: 1.3rem;
    font-family: "Montserrat", "sans-serif";
}

.image_manager .upload_image_container form .error {
    color: red;
}

.image_manager .upload_image_container input {
    margin: 10px;
    padding: 10px;
    border-radius: calc(1.3rem + 2 * 10px);
}

.image_manager .upload_image_container input[type="text"] {
    border: 2px solid gray;
}

.image_manager .upload_image_container input[type="submit"] {
    background-color: #DF5F36;
    border: none;
    color: white;
    cursor: pointer;
    width: 70%;
}

.image_manager .images_container, .image_manager .upload_image_container {
    width: 100%;
    height: 80%;
    overflow: auto;
}

.image_manager .images_container {
    display: flex;
    flex-wrap: wrap;
}

.image_manager .upload_image_container {
    /* Si visible */
    justify-content: center;
    align-items: center;
}

.image_manager .images_container[data-status="loading"] {
    justify-content: center;
    align-items: center;
}

.image_manager .images_container[data-status="show"] {
    justify-content: flex-start;
    align-items: flex-start;
}

.image_manager .images_container[data-status="loading"] .images {
    display: none !important;
}

.image_manager .images_container .loader {
    width: 100px;
    height: auto;
}

.image_manager .images_container[data-status="show"] .loader {
    display: none !important;
}

.image_manager .images_container .images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.image_manager .images_container .images .image {
    width: 100px;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 3px;
    margin: 20px;
    cursor: pointer;
}

.image_manager .images_container .images .image .close_button, .image_manager .close_button {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
    background-color: red;
    cursor: pointer;
}

.image_manager .close_button {
    width: 30px;
    height: 30px;
}

.image_manager .images_container .images .image .close_button {
    width: 15px;
    height: 15px;
}

.upload_btn_container, .select_btn_container, .add_btn_container {
    height: 20%;
    /* Si visible */
    justify-content: center;
    align-items: center;
}

.upload_btn_container {
    display: flex;
}

.select_btn_container {
    display: none;
}

.add_btn_container {
    display: none;
}

.upload_btn_container button, .select_btn_container button, .add_btn_container button {
    padding: 10px;
    font-size: 1.3rem;
    font-family: "Montserrat", "sans-serif";
    border: none;
    border-radius: calc(10px * 2 + 1.3rem);
    cursor: pointer;
    background-color: #DA3832;
    transition-duration: 0.3s;
    color: white;
}

.upload_btn_container button:hover {
    transform: translateY(-5%);
}

/* Règles sur le formulaire */

.edit_form input[type="submit"] {
    display: block;
    margin: 5px auto;
    width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}