/* Upload Image */

/* Règles sur le formulaire */

.edit_form input[type="submit"] {
    display: block;
    margin: 5px auto;
    width: 50%;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
}

/* Règles concernant l'éditeur WYSIWYG */

    /* Conteneur */

.WYSIWYG {
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

.WYSIWYG, .WYSIWYG * {
    color: black;
    font-family: sans-serif;
}

    /* Liste des boutons et boutons */

.WYSIWYG .buttonsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    overflow-y: auto;
    background-color: rgb(235, 233, 233);
    position: sticky;
    top: 0;
}

.WYSIWYG .buttonsContainer button {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 2px;
    padding: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
}

    /* Editeur */

.WYSIWYG .editor {
    padding: 5px;
    height: 300px;
    overflow-y: auto;
    outline: none;
}

    /* Interlignes */

.WYSIWYG div {
    margin: 0;
}

/* Ajustement responsive des boutons */
@media only screen and (max-width: 900px) {
    .WYSIWYG .buttonsContainer {
        justify-content: start;
    }
}