<div class="document">
    {{ doc.nom }}
    {% if doc.slug in userDocs|keys %}
        {% if userDocs[doc.slug].accepted %}
            Accepté <a href="#">Demande de renouvellement</a>
        {% elseif userDocs[doc.slug].accepted is not null %}
            Refusé <a href="#">Demande de renouvellement</a>
        {% else %}
            <a href="#">Accepter</a>
            <a href="#">Refuser</a>
        {% endif %}
    {% else %}
        En attente de l'utilisateur             
    {% endif %}
</div>