<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %} - Granger SAS</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="/img/header/logo_n.png" rel="icon">
        <link href="/css/base.css" rel="stylesheet">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        <script src="/js/global/constants.js" defer></script>
        <script src="https://unpkg.com/swup@latest/dist/swup.min.js" defer></script>
        <script src="/js/global/swup_plugin.js" defer></script>
        <script src="/js/global/swup_head.js" defer></script>
        <script src="/js/global/swup.js" defer></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% include "require/header.html.twig" %}
        <div id="swup" class="transition-fade">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
