{% extends 'base.html.twig' %}

{% block title %}Conditions Générales d'Utilisation{% endblock %}
{% block stylesheets %}<link href="/css/cgu/style.css" rel="stylesheet">{% endblock %}

{% block body %}
<div class="cgu_container">
    <h1 class="cgu_title">À propos des Conditions Générales d'Utilisation :</h1>
    </p>
    <p class="cgu_paragraph">
        Morbi sit amet lacinia arcu. Vivamus at velit odio. In hac habitasse platea dictumst. Suspendisse fringilla dignissim urna in 
        pellentesque. Cras nec massa magna. Aenean a sodales justo. Ut consequat vulputate libero, non consectetur odio dictum quis. 
        Ut egestas nisl lacus. In mi quam, euismod a aliquet ut, sodales pellentesque arcu.
    </p>
    <h2 class="cgu_title_2">Article 1</h1>
    <p class="cgu_paragraph">
        Donec a venenatis tortor. Sed eu augue vitae felis vestibulum dignissim. Etiam non nunc tortor. Phasellus gravida, elit in 
        tristique sodales, augue metus blandit eros, sed fringilla velit arcu ut sapien. In finibus elementum lectus, non convallis orci 
        volutpat quis. Phasellus elementum, mi non volutpat consectetur, sem ipsum facilisis eros, pharetra lobortis elit tortor sit amet 
        urna. Phasellus a feugiat nulla, non iaculis justo. Suspendisse hendrerit velit id lorem egestas, vitae porttitor lorem interdum. 
        Etiam tortor nunc, cursus eu mattis eget, sagittis id diam. Maecenas nisl nunc, pretium a nisl ac, placerat ullamcorper orci.
    </p>
    <h2 class="cgu_title_2">Article 2</h1>
    <p class="cgu_paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce non cursus ligula. Aliquam egestas porttitor nisl sed lobortis. 
        Maecenas quis sagittis augue. Pellentesque mattis nulla et massa viverra elementum. Praesent vel semper sapien. Fusce elementum 
        quis erat vitae rhoncus. Cras pulvinar diam vitae vulputate ornare. Donec blandit urna risus, id ultrices mi semper a. In hac 
        habitasse platea dictumst.
        Mauris vel purus porttitor nulla porta dapibus et a enim. Nullam at porttitor tellus. Aliquam interdum, leo in euismod ornare, 
        sem enim malesuada lorem, in dapibus mauris nunc vel ligula. Ut feugiat enim lacus, vitae fermentum justo maximus vel. Ut semper 
        tortor orci, eget suscipit leo convallis eget. Aliquam justo elit, viverra sed tortor vulputate, ultrices pellentesque nisl. 
        Pellentesque ornare nunc eget dapibus laoreet. Sed tincidunt scelerisque diam vel bibendum. Vestibulum aliquam tellus nec commodo 
        eleifend. Nullam dapibus neque nisi, ac aliquam ipsum condimentum sit amet.
    </p>
    <h2 class="cgu_title_2">Article 3</h1>
    <p class="cgu_paragraph">  
        Nam lacinia massa tellus, at ornare odio euismod eu. Pellentesque malesuada tincidunt justo. Aliquam in tellus eros. Sed tempor 
        varius tristique. Vivamus interdum augue sit amet ligula varius tincidunt. Pellentesque eget laoreet orci. Aenean ut justo urna. 
        Donec facilisis vulputate porta. Donec in molestie ex. 
    </p>
</div>
{% endblock %}
