{% extends 'base.html.twig' %}

{% block title %}Offres d'emploi{% endblock %}

{% block body %}
    <h1>Offres d'emploi</h1>
    {% if offres is empty %}
        <h2>Il n'y a pas d'offres d'emploi pour le moment</h2>
    {% else %}
        {% for offre in offres %}
            <div class="offre">
                <a href="{{ path("offre", {id: offre.id}) }}">{{ offre.name }}</a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
